<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Moja stránka</title>
</head>
<body>
    <header>
        <h1>Nadpis stránky</h1>
    </header>
    <div class="content">
        <div id="home">
            <h2>Domov</h2>
            <p>Vitajte na mojej webovej stránke. Toto je úvodná sekcia.</p>
        </div>
        <div id="about">
            <h2>O mne</h2>
            <p>Som začínajúci študent záchodov.</p>
        </div>
        <div id="hobby">
            <h2>Hobby</h2>
            <p>programovanie, domáce úlohy, šach, parašutizmus.</p>
        </div>
        <div id="contact">
            <h2>Kontakt</h2>
            <p>Ak máte akékoľvek otázky tak sa ma nič nepýtajte.</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Všetky práva vyhradené.</p>
    </footer>
</body>
</html>
